/*Politburo CSS*/
background {
    color: brown;
}

h1 {
    color: blueviolet;
    font-family: cursive;
}

body {
    background-color: aqua;
    font-family: cursive;
}

li {
    align-content: center
}

ul {
    font-family: monospace;
    color: darkred;
}

/*PolitburoRules.css*/

/*PoliburoContact.css*/

/*PoltiburoProbPortal*/
